button{
    font-size: 18px;
    padding:4px;
}
#calculator-container{
    height:500px ;
    width:400px ;
    margin: auto;
    margin-top: 100px;
  
    border-radius: 8px;
      box-shadow: 5px 10px 18px #888888;;
}
#display-box{
    height: 80px;
    width:100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-size: 2rem;
}
#controlls{
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#operators1{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}
.digits{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}
#operators-Down{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}
.control-button{
   background-color: wheat;
   border: 1px solid black;
   height: 30px;
   width: 60px;
   border-radius: 10px; 
}
.digit-button{
    background-color: whitesmoke;
    border: 1px solid black;
    height: 40px;
    width: 60px;
    border-radius: 25px; 
 }
 body{
    background: linear-gradient(to right, #70e1f5, #ffd194);  
  }
 #display{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
 }
 .icons{
     display: flex;
     justify-content: space-between;
 }